{% extends 'base.html.twig' %}
{% block title %}Projet{% endblock %}
{% block navbar %}
{% endblock %}
{%  block header  %}
   
{% endblock %}
{% block body %}
    <div class="nav-wrapper">
        <ul class="nav nav-pills nav-fill flex-column flex-md-row" id="tabs-icons-text" role="tablist">
            <li class="nav-item">
                <a class="nav-link mb-sm-3 mb-md-0 active" id="tabs-icons-text-1-tab" data-toggle="tab" href="#tabs-icons-text-1" role="tab" aria-controls="tabs-icons-text-1" aria-selected="true"><i class="fa fa-plug" aria-hidden="true"></i>    Consommation</a>
            </li>
            <li class="nav-item">
               <a class="nav-link mb-sm-3 mb-md-0 " style="pointer-events: none;" id="tabs-icons-text-2-tab" data-toggle="tab" href="#tabs-icons-text-2" role="tab" aria-controls="tabs-icons-text-2" aria-selected="false"><i class="fa fa-bolt" aria-hidden="true"></i>   Production</a>
            </li>
            <li class="nav-item">
                <a class="nav-link mb-sm-3 mb-md-0" style="pointer-events: none;" id="tabs-icons-text-3-tab" data-toggle="tab" href="#tabs-icons-text-3" role="tab" aria-controls="tabs-icons-text-3" aria-selected="false"><i class="fa fa-university" aria-hidden="true"></i>  Finance</a>
            </li>
            <li class="nav-item">
                <a class="nav-link mb-sm-3 mb-md-0" style="pointer-events: none; "id="tabs-icons-text-4-tab" data-toggle="tab" href="#tabs-icons-text-4" role="tab" aria-controls="tabs-icons-text-4" aria-selected="false" ><i class="fa fa-bullhorn" aria-hidden="true"></i>
   Resultats</a>
            </li>
            <li class="nav-item">
                <a class="nav-link mb-sm-3 mb-md-0" id="tabs-icons-text-5-tab" style="pointer-events: none; " href="{{ path('rapport',{'id':project.id}) }}" ><i class="fa fa-file" aria-hidden="true"></i>   Rapport</a>
            </li>
        </ul>
    </div>
    <div>
        <div class="row">
            <div class=" ml-2 col-xl ">
                <div>
                    
                        <div class="card" id="tabs-icons-text-1">
                            <div>
                                {{ include('consomation/consomation.html.twig') }}
                            </div>
                        </div>
                        </div>

                        <div class="card" id="tabs-icons-text-2" style="display:none" >
                            <div class="card-body">
                                {{ include('production/production.html.twig') }}
                            </div>
                        </div>
                        <div class="card" id="tabs-icons-text-3" style="display:none">
                            <div class="card-body">
                                {{ include('finance/index.html.twig') }}
                            </div>
                        </div>
                         </div>
                        <div class="card" id="tabs-icons-text-4" style="display:none">
                            <div class="card-body">
                                {{ include('result/result.html.twig') }}
                            </div>
                        </div>
                        
                    
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
    

        // init,configure dropzone
        function consomationSubmit() {
            {% if not app.user %}
            window.location.replace('{{ path('security_login') }}')
            {% endif %};
             $('#loading').show();
            var data = $('#consomationForm').serialize();
            var url = $('#consomationForm').attr('action');
            $.ajax({
                url: url,
                type : 'POST',
                data : data,
                dataType: 'json',
                cache: false,
                success: function (response) {
                    for (let i = 0; i < response.virgdata.length ; i++) {
                        dates = new Date(response.data[i][0] * 1000);
                        dates.setHours(dates.getHours() - 1);
                        response.virgdata[i][0] = dates;
                    }
                    console.log('virgdata');
                    console.log(response.virgdata);
                    console.log(response.data);
                    console.log(response.data2);
                    console.log(response.period);
                    console.log("newdata");
                    console.log(response.newdata);
                    console.log(response.alldata);
                    console.log(response.nbre);
                    console.log('dataexl'); 
                    console.log(response.dataexl); 
                    console.log(response.period); 
                   $('#successconso').show();
                   $('#loading').hide();
                    $('#errorconso').hide();
                   $('#transport_energie').prop('disabled', true);
                   $('#vershoraire').prop('disabled', true);

                   document.getElementById('continue').setAttribute('disabled','disabled');
                   document.getElementById('increment').removeAttribute('disabled');
                   document.getElementById('continuer').removeAttribute('disabled');                  
                },
                 error: function (response) {
                 $('#errorconso').show();
                   $('#reload').show();
                    $('#successconso').hide();
                   
                 }
            });
            
            
            /*
            $.get( url ,data,function (dat) {
               console.log(dat);
            });
             */
            return false;
        }

        function valider(){
             $('#tabs-icons-text-2-tab').css("pointer-events"," visible");
            $('#tabs-icons-text-1-tab').css("pointer-events"," none");
            $('#tabs-icons-text-2-tab').addClass('active');
            $('#tabs-icons-text-1-tab').removeClass('active');

            $('#tabs-icons-text-2').toggle();
            $('#tabs-icons-text-1').toggle();
             map.resize();
        };
    </script>
{% endblock %}
 {% block stylesheets %}
  <style>
 @media only screen and  (min-width: 1000px) {
  
  .row {
    width: 1000px;
  }
}


</style>
 {% endblock %}